sacred                                                                                              
scipy
matplotlib                                                                                                     
numba
numPy
pillow
matplotlib                                                                                                
numPy                                                                                                      
opencv-python                                                                                 
